{% extends "index.html" %}

{% block content %}
    {% if obj_button %}
    <div class="kuka-menu">
        <div class="item-kuka-menu" id="programming">
            <h2>Программирование</h2>
            <ul class="ul-menu">
            {% for key, val in obj_button["programming"].items() %}
                <li>
                    {% if val and val.strip() %}
                        <a href="{{ url_for(val) }}">
                            <button class="menu-button">
                                {{ key }}
                            </button>
                        </a>
                    {% else %}
                        <a href="#">
                            <button class="menu-button">
                                {{ key }}
                            </button>
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="item-kuka-menu" id="soft">
            <h2>Софт</h2>
            <ul class="ul-menu">
            {% for key, val in obj_button["soft"].items() %}
                <li>
                    {% if val and val.strip() %}
                        <a href="{{ url_for(val) }}">
                            <button class="menu-button">
                                {{ key }}
                            </button>
                        </a>
                    {% else %}
                        <a href="#">
                            <button class="menu-button">
                                {{ key }}
                            </button>
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="item-kuka-menu" id="integration">
            <h2>Интеграция</h2>
            <ul class="ul-menu">
            {% for key, val in obj_button["integration"].items() %}
                <li>
                    {% if val and val.strip() %}
                        <a href="{{ url_for(val) }}">
                            <button class="menu-button">
                                {{ key }}
                            </button>
                        </a>
                    {% else %}
                        <a href="#">
                            <button class="menu-button">
                                {{ key }}
                            </button>
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
{% endblock %}