{% extends "index.html" %}

{% block content %}
    <div class="group-card">
        <h1 id="title-group"></h1>
        <div class="card">
            <div class="name-var"></div>
            <div class="sintax">
                <div class="tag"></div>
                <div class="text"></div>
            </div>
            <div class="discriptions">
                <div class="tag"></div>
                <div class="text">
            
                </div>
            </div>
            <div class="example">
                <div class="tag"></div>
                <div class="text">
                    <pre>
                    </pre>
                </div>
            </div>
        </div>
    </div>
{% endblock %}