<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
    <body>
        <div class="home-svg"><div class="svg"></div></div>
        <header class="main-header">
            <a href="{{ url_for('main_menu') }}"><img class="cmd-panel-custom" src="{{ url_for('static', filename='images/home.svg') }}"></a>
            <div>
                <h1 class="header-text"></h1>
            </div>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='marked.min.js') }}"></script>
</html>